html {
    background-color: #000;
}

body {
    width: 500px;
    background: rgb(59, 59, 59);
    border: 5px solid rgb(112, 112, 112);
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

#Top {
    background: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(88, 88, 88);
    line-height: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
}

#SubTop {
    font-size: 15px;
    height: 10px;
    line-height: 0px;
    text-align: center;
}

#Main {
    font-size: 20px;
}

.inlines {
    inset-inline: auto;
    width: 95px;
    height: 95px;
}

#ImgSize {
    width: 80px;
    height: 85px;
}

#SubPg14 {
    width: 93px;
    height: 95px;
}

.inlines2 {
    inset-inline: auto;
    width: 95px;
    height: 95px;
}

.inlines3 {
    inset-inline: auto;
    width: 95px;
    height: 95px;
}

#navtxt {
    text-align: center;
}

#smol {
    font-size: medium;
}

#FinalButton {
    text-align: center;
    font-size: medium;
}

#FinalButtonButton {
    text-align: center;
}